<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hasil Input</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Hasil Form</h1>
    <p>Data yang Anda masukkan:</p>
    <div class="container">
        <p><strong>{{ user_input }}</strong></p> <!-- Tampilkan data dari server -->
    </div>
    <a href="{{ url_for('index') }}">Kembali ke Halaman Utama</a>
</body>
</html>